---
import Default from "../layouts/default.astro";
const title = "About";
---

<Default title={title}>
	<p>Fumbly Stuff produces and resells unique and interesting hardware products. Our passion is making
		things, usually with some sort of computer or electronics inside. We offer them here for you to use
		in your projects and to make your making easier.</p>
	<p>Our products are kits or components built from our own projects. As we build things, we identify
		unique hardware you can't find elsewhere.</p>
	<p>Our first products are almost ready to launch, please check back in a few weeks.</p>
</Default>