---
import Home from "../layouts/home.astro";
const pageTitle = "Home";
---

<Home pageTitle={pageTitle}>
	<p>
		Bacon ipsum dolor amet beef boudin shankle ham hock tongue ground round
		burgdoggen tail chuck. Kevin landjaeger swine ribeye meatball chuck pork
		strip steak flank tri-tip kielbasa ball tip andouille tongue. Tenderloin
		brisket ground round capicola, shankle ribeye pancetta doner pork belly
		strip steak tri-tip salami. Tri-tip ribeye porchetta picanha corned beef.
	</p>

	<p>
		Bresaola pork chop chuck tail burgdoggen kevin, prosciutto filet mignon
		brisket. Buffalo sirloin short loin, turducken cow prosciutto corned beef
		swine tongue. Cupim shankle pancetta spare ribs, doner meatloaf venison ball
		tip short ribs drumstick. Sausage brisket pastrami alcatra, fatback leberkas
		boudin frankfurter chuck.
	</p>

	<p>
		Pork shoulder sausage, turkey beef beef ribs turducken frankfurter fatback
		jerky andouille prosciutto chuck. Prosciutto shoulder sausage alcatra pork
		loin, chuck chislic. Pastrami sausage kevin, pork chop pig frankfurter doner
		cow boudin flank. Prosciutto andouille kielbasa, corned beef drumstick
		sausage turducken. Frankfurter kevin shankle jowl meatball ham hock
		drumstick brisket pork. Chuck landjaeger strip steak alcatra meatloaf kevin
		flank cupim. Prosciutto cupim chicken chislic meatball landjaeger fatback
		strip steak sirloin tail.
	</p>

	<p>
		Landjaeger tri-tip doner tail swine burgdoggen pancetta leberkas fatback
		brisket ground round short ribs cupim. Alcatra burgdoggen corned beef,
		meatloaf frankfurter salami beef ribs sirloin cupim shank prosciutto
		shankle. Sirloin sausage salami brisket ground round frankfurter cow. Rump
		meatloaf porchetta short ribs, leberkas bresaola beef hamburger shank
		meatball sirloin cow tri-tip. Chuck hamburger cupim pork belly, bacon pork
		chop prosciutto brisket spare ribs tail.
	</p>

	<p>
		Ground round brisket ham flank fatback rump andouille sirloin ham hock pork
		tenderloin. Strip steak pancetta buffalo burgdoggen leberkas t-bone tri-tip
		jowl ham hock. Pork ham hock pancetta jerky ball tip bacon pastrami beef
		chicken tongue beef ribs. Pastrami bresaola rump porchetta shoulder ground
		round, drumstick turkey short loin alcatra kevin cow. Hamburger frankfurter
		boudin alcatra tri-tip, tail burgdoggen shoulder chuck. Corned beef cupim
		tenderloin short ribs, chislic prosciutto jerky hamburger sausage ham hock
		tongue chuck frankfurter turkey pork. Salami tenderloin short loin jerky
		strip steak, hamburger meatloaf drumstick cupim picanha shankle venison pork
		burgdoggen.
	</p>
</Home>
