---
import Default from "../layouts/default.astro";
const pageTitle = "Product Support";
---

<Default pageTitle={pageTitle}>
	<p>There should be a contact form here, but I've not implemented it yet.</p>	
</Default>