---
import Default from "../layouts/default.astro";
const title = "Product Support";
---

<Default title={title}>
	<p>There should be a contact form here, but I've not implemented it yet.</p>	
</Default>