---
import Default from "../../../layouts/default.astro";
const pageTitle = "Perma-Breadboard";
---

<Default pageTitle={pageTitle}>
	<p>
		Bacon ipsum dolor amet beef boudin shankle ham hock tongue ground round
		burgdoggen tail chuck. Kevin landjaeger swine ribeye meatball chuck pork
		strip steak flank tri-tip kielbasa ball tip andouille tongue. Tenderloin
		brisket ground round capicola, shankle ribeye pancetta doner pork belly
		strip steak tri-tip salami. Tri-tip ribeye porchetta picanha corned beef.
	</p>

	<p>
		Bresaola pork chop chuck tail burgdoggen kevin, prosciutto filet mignon
		brisket. Buffalo sirloin short loin, turducken cow prosciutto corned beef
		swine tongue. Cupim shankle pancetta spare ribs, doner meatloaf venison ball
		tip short ribs drumstick. Sausage brisket pastrami alcatra, fatback leberkas
		boudin frankfurter chuck.
	</p>
</Default>