---
import Footer from "../components/Footer.astro";
import Scripts from "../components/scripts.astro";
const siteTitle = "Fumbly Stuff";
---

<!doctype html>
<!--
	Drift by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
  <head>
    <title>{siteTitle}</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/assets/css/main.css" />
  </head>

  <slot />

  <Footer />
  <Scripts />

</html>
