---
import Analytics from "../components/analytics.astro";
import Footer from "../components/footer.astro";
import Icons from "../components/icons.astro";
import Scripts from "../components/scripts.astro";

import Config from "../config.ts";

const { pageTitle } = Astro.props;
---

<!doctype html>
<!--
	Drift by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
  <head>
    <title>{Config.siteTitle}: {pageTitle}</title>
    <meta charset="utf-8" />
    <meta name="author" content="John M. Wargo" />
    <meta name="description" content={Config.siteDescription} />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="generator" content={Astro.generator} />
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/assets/css/main.css" />
    <Icons />
    <Analytics />
  </head>
  <slot />
  <Footer />
  <Scripts />
</html>
