---
import Analytics from "../components/google-analytics.astro";
import Footer from "../components/Footer.astro";
import Scripts from "../components/scripts.astro";
import Config from "../config.ts";
---

<!doctype html>
<!--
	Drift by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
  <head>
    <title>{Config.siteTitle}</title>
    <meta charset="utf-8" />
    <meta name="generator" content="{{ eleventyinfo.generatorStr}}" />
    <meta name="author" content="John M. Wargo">
    <meta name="description" content="Static web site for Fumbly Stuff, LLC" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <Analytics />
  </head>

  <slot />

  <Footer />
  <Scripts />

</html>
