---
import Base from "./base.astro";
import Header from "../components/Header.astro";
const { pageTitle } = Astro.props;
---

<Base pageTitle={pageTitle}>
	<body class="is-preload">
		<Header />
		<section id="main" class="wrapper style1">
			<header class="major">
				<h2>{pageTitle}</h2>
			</header>
			<div class="container">				
				<section id="content">
					<slot />
				</section>
			</div>
		</section>
	</body>
</Base>
