---
import Base from "./base.astro";
import Header from "../components/Header.astro";
const { pageTitle } = Astro.props;
---

<Base pageTitle={pageTitle}>
	<body class="landing is-preload">
		<Header />
		<slot />
	</body>
</Base>
